<form method="post" action="{{ path('booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir supprimer ce rendez-vous ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
